<html>
<head>
	<title>Q&#38A</title>
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('home.home') }}">Q&#38A</a>
			</div>
			{% if current_user.is_authenticated() %}
			<p class="navbar-text">Signed in as <a href="{{ url_for('users.profile')}}" class="navbar-link">{{current_user.name}}</a></p>
			{% endif %}
			<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_authenticated() %}

					<a class="btn btn-danger navbar-btn" type="button" href="{{ url_for('users.logout') }}">Log Out</a>

					{% else %}
					<a class="btn btn-primary navbar-btn" type="button" href="{{ url_for('users.login') }}">Log In</a>
					<a class="btn btn-primary navbar-btn" type="button" href="{{ url_for('users.register') }}">Register</a>

					{% endif %}

				</ul>
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">

	<!-- Child Template-->
	{% block content %} {% endblock %}

	<!-- Errors -->
	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}</p>
	{% endif %}

	<!-- Messages -->
	{% if get_flashed_messages()%}
		<strong>Sys Logs:</strong> <br>
		<ul></ul>
		{% for message in get_flashed_messages() %}
			<li> {{ message }}</li>
		{% endfor %}
		<ul></ul>
	{% endif %}
	</div>

</body>
</html>


