<html>
<head>
	<title>Flask Intro</title>
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
</head>
<body>

	<div class="container">

	<!-- Child Template-->
	{% block content %} {% endblock %}

	<!-- Errors -->
	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}</p>
	{% endif %}

	<!-- Messages -->
	{% if get_flashed_messages()%}
		<strong>Sys Logs:</strong> <br>
		<ul></ul>
		{% for message in get_flashed_messages() %}
			<li>      {{ message }}</li>
		{% endfor %}
		<ul></ul>
	{% endif %}
	</div>

</body>
</html>