{% extends "base.html" %}
{% block content %}
<h1>Welcome to Questions and Answers</h2>

  {% if current_user.is_authenticated() %}
  <h3>Add Post</h3>
  <br>


  <form class="form-register" role="form" method="post" action="">
    {{ form.csrf_token }}
    <p>
      {{ form.title(placeholder="title", style="width:400px", class="form-control") }}
      <span class="error">
        {% if form.title.errors %}
        {% for error in form.title.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
      </span>
    </p>
    <p>
      {{ form.post(placeholder="post", style="width:400px;height:100px;", class="form-control", rows="3") }}
      <span class="error">
        {% if form.post.errors %}
        {% for error in form.post.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
      </span>
    </p>
    <button class="btn btn-default" type="submit">Post your Post</button>
  </form>
  {% else %}
  <p>
   <p>Login to 
    <ul>
      <li>Ask Questions</li>
      <li>Answer Questions</li>
      <li>Vote for questions</li>
    </ul>
  </p>
</p>

{% endif %}
<br><br>
<h3>Posts:</h3>
{% for post in posts %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-1">
      <span class="text-center">Answers</span>
      <p class="badge text-block">14</p>
    </div>
    <div class="col-md-11">
      <h1>{{ post.title }}</h1>
      <p>{{ post.description }}</p>
      <p><a class="btn btn-primary btn-lg" href="/post/{{ post.id }}" role="button">Learn more</a></p>
    </div>
  </div>
</div>
<br>
{% endfor%}

{% endblock content %}