{% extends "base.html" %}
{% block content %}
<h1>Welcome to Questions and Answers</h2>

  {% if current_user.is_authenticated() %}

  <form class="form-post" role="form" method="post" action="">
    {{ form.csrf_token }}
    <p>
      {{ form.title(placeholder="title", style="width:400px", class="form-control") }}
      <span class="error">
        {% if form.title.errors %}
        {% for error in form.title.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
      </span>
    </p>
    <p>
      {{ form.post(placeholder="post", style="width:400px;height:100px;", class="form-control", rows="3") }}
      <span class="error">
        {% if form.post.errors %}
        {% for error in form.post.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
      </span>
    </p>
    <button class="btn btn-default" type="submit">Post your Question</button>
  </form>
  {% else %}
  <p>
   <p>Login to 
    <ul>
      <li>Ask Questions</li>
      <li>Answer Questions</li>
      <del><li>Vote for questions</li></del>
    </ul>
  </p>
</p>

{% endif %}
<br>
{% for post in posts %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-1">
     <span>Views</span>
     <span class="badge">{{ post.views }}</span>
   </div>
   <div class="col-md-11">

    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    <p><a class="btn btn-primary btn-lg" href="/post/{{ post.id }}" role="button">Open</a></p>
    <div class="row">
     <div class="col-md-6"><span>{{ post.pub_date.ctime() }}</span></div>
     <div class="col-md-6 text-right"> <p>posted by: <code>{{ post.author.name }}</code></p>
     </div>
   </div>
 </div>
</div>
</div>
<br>
{% endfor%}

{% endblock content %}