{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h2>{{ post.title }}</h2>
  <p>{{ post.description }}</p>

  <span>{{ post.pub_date.ctime() }}</span>
  <p class="text-right">posted by: {{ post.author.name }}</p>
</div>
{% if current_user.is_authenticated() %}
<form class="form-register" role="form" method="post" action="">
    {{ form.csrf_token }}
    <p>
      {{ form.body(placeholder="Answer", style="width:400px", class="form-control") }}
      <span class="error">
        {% if form.body.errors %}
        {% for error in form.body.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
      </span>
    </p>
    <button class="btn btn-primary disabled" type="submit">Post</button>
</form>
{% endif %}
{% for answer in post.answers %}

{% endfor %}

{% endblock content %}