{% extends "base.html" %}
{% block content %}
<h1>Question: </h1>
<div class="jumbotron">
  <h2>{{ post.title }}</h2>
  <p>{{ post.description }}</p>
  <div class="row">
   <div class="col-md-6 col-xs-6"><p>{{ post.pub_date.ctime() }}</p></div>
   <div class="col-md-6 col-xs-6 text-right"> <p>posted by: <code>{{ post.author.name }}</code></p>
   </div>
 </div>
</div>
{% if current_user.is_authenticated() %}
<form class="form-register" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.body(placeholder="Answer", style="width:400px", class="form-control") }}
    <span class="error">
      {% if form.body.errors %}
      {% for error in form.body.errors %}
      {{ error }}
      {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-primary" type="submit">Post</button>
</form>
{% endif %}
<h1>Answers:</h1>
{% for answerpost in answerposts %}
<div class="jumbotron">
  <div class="row">
    <div class="row">
      <div class="col-md-1 col-xs-2">
        {% if current_user.is_authenticated() %}
        <form method="post" action="">
         <button  class="btn btn-default btn-lg" name="action" type="submit" value="{{ answerpost.answer.id }} , True">
            <span class="glyphicon glyphicon-heart{% if not answerpost.button_state %}-empty{% endif %}" aria-hidden="true"></span>
          </button>
        </form>
        {% endif %} 
        <p class="text-center">Likes:<br><span class="badge">{{ answerpost.answer.votes }}</span></p>
      </div> 
      <div class="col-md-11 col-xs-10">
        <p>{{ answerpost.answer.answer }}</p>
        <p>{{ answerpost.answer.pub_date.ctime() }}</p>
        <p class="text-right">posted by: <code>{{ answerpost.answer.author.name }}</code></p>
    </div>
   </div>
 </div>
</div>
{% endfor %}

{% endblock content %}